@charset "UTF-8";

@font-face {
  font-family: "vinareate";
  src:url("../fonts/vinareate.eot");
  src:url("../fonts/vinareate.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vinareate.woff") format("woff"),
    url("../fonts/vinareate.ttf") format("truetype"),
    url("../fonts/vinareate.svg#vinareate") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "vinareate" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "vinareate" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\61";
}
.icon-location:before {
  content: "\63";
}
.icon-untitled-2:before {
  content: "\64";
}
.icon-untitled-21:before {
  content: "\65";
}
.icon-untitled-22:before {
  content: "\66";
}
.icon-untitled-23:before {
  content: "\67";
}
.icon-untitled-24:before {
  content: "\68";
}
.icon-circle:before {
  content: "\69";
}
.icon-social:before {
  content: "\6a";
}
.icon-social-1:before {
  content: "\6b";
}
.icon-social-2:before {
  content: "\6c";
}
.icon-search:before {
  content: "\6d";
}
.icon-technology:before {
  content: "\6e";
}
.icon-internet-1:before {
  content: "\62";
}
.icon-unimedia:before {
  content: "\6f";
}
.icon-readmove:before {
  content: "\70";
}
