/*$font-family-default: 'merriweather', sans-serif !default;
$font-family-raleway : 'raleway', sans-serif !default;
// header background
$background: #030303 !default;
$background-bottom: #f19a0d !default;

// set font size
$font-size-base: 14px !default;
$font-size-small: 12px !default;
$font-size-large: 18px !default;
$font-size-h1:	36px;
$font-size-h2:	30px;
$font-size-h3:	24px;
$font-size-h4:	18px;
$font-size-h5:	$font-size-base;
$font-size-h6:	12px;

//color categories
$color-promotion: #1abc9c !default;
$color-promotion-after: #16a085 !default;
$color-copon: #e67e22 !default;
$color-copon-after: #d35400 !default;
$color-vehicle-technology: #34495d !default;
$color-fashion-health: #95c11e !default;
$color-real-estate-source: #302683 !default;
$color-home-electronics: #009bb4 !default;
$color-taste-event: #f39200 !default;
$color-seasons-promotion: #c51a1b !default;
$color-copon-magazine: #DC2732 !default;
$color-copon-magazine-after: #e30513 !default;

//color-common
$color-base: #e30513 !default;
$color-button: #2a255c !default;
$color-grey: #ececec !default;
$color-dark-grey: #575756 !default;
$color-bg-tab: #202d41 !default;
$color-hover-tab: #f6aa2d;
$color-address: #6f6f6e;
$color-title-categories: #6f6f6e;
$color-bg-categories: #f2f2f2;
$color-bg-footer: #202d41;
$color-hover: #f6aa2d;
$color-line-bottom: #3d495a;
$color-line-footer: #f6aa2d;
$color-text-footer: #b3bfcb;
$color-map: #469ad4;
*/
body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  color: #000; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
  display: block; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

p {
  margin: 0;
  padding: 0;
  line-height: 1.3; }

a, a:focus, a:hover, a:active {
  text-decoration: none;
  color: #0074e4; }

a:focus, select:focus, input:focus, button:focus {
  outline: none; }

a {
  color: #000;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition: color 300ms, background-color 300ms;
  transition: color 300ms, background-color 300ms; }

/* reset webkit search input styles */
input[type=search] {
  -webkit-appearance: none;
  outline: none; }
.a-btn-submit{
  color: #fff;
    background-color: #286090;
    border-color: #204d74;
    padding: 10px;
    border-radius: 5px;
}
.a-btn-submit:hover{
  color: #fff;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  display: none; }

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto; }

img {
  max-width: 100%;
  height: auto; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.row {
  margin-right: -8px;
  margin-left: -8px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 8px;
  padding-left: 8px; }

.container {
  padding-right: 8px;
  padding-left: 8px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #000;
  padding: 0;
  margin: 0;
  margin-bottom: 10px; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 13px; }

header#header {
  background: #009ee3; }
  header#header .logo {
    width: 100px;
    height: 100px;
    background: #FFF;
    position: absolute;
    z-index: 99; }
  header#header .menu {
    padding-left: 120px; }
    header#header .menu .col-lg-9 {
      position: inherit; }
    header#header .menu ul#menu-top li {
      display: inline-block; }
      header#header .menu ul#menu-top li a {
        text-transform: uppercase;
        color: #FFF;
        padding: 0 15px;
        display: inline-block;
        height: 50px;
        line-height: 50px; }
        header#header .menu ul#menu-top li a:hover {
          color: #302683; }
      header#header .menu ul#menu-top li a.level {
        display: block;
        padding: 0 15px;
        position: relative; }
      header#header .menu ul#menu-top li ul {
        position: fixed;
        left: 0;
        visibility: hidden;
        top: 50px;
        z-index: 98;
        background: #e1effa;
        width: 100%;
        border-top: 1px solid #DDD;
        /*          transition: all 0.2s;
                  -moz-transition: all 0.2s;
                  -webkit-transition: all 0.2s;
                  -o-transition: all 0.2s;*/
        /*opacity: 0;*/
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4); }
        header#header .menu ul#menu-top li ul li {
          width: 100%; }
          header#header .menu ul#menu-top li ul li .item-menu {
            padding-left: 120px;
            width: 100%; }
            header#header .menu ul#menu-top li ul li .item-menu .item-menu-top {
              width: 19%;
              border-right: 1px solid #FFF;
              display: table-cell;
              padding-right: 15px; }
              header#header .menu ul#menu-top li ul li .item-menu .item-menu-top h2 {
                font-size: 14px;
                margin-top: 10px;
                padding: 0 15px;
                text-transform: uppercase;
                color: #0074e4;
                font-weight: bold; }
              header#header .menu ul#menu-top li ul li .item-menu .item-menu-top a {
                width: 100%;
                display: block;
                float: left;
                height: 38px;
                color: #000;
                height: 30px;
                line-height: 30px;
                text-transform: inherit; }
                header#header .menu ul#menu-top li ul li .item-menu .item-menu-top a:hover {
                  color: #302683; }
      header#header .menu ul#menu-top li:hover a.level.child {
        color: #0074e4; }
        header#header .menu ul#menu-top li:hover a.level.child:before {
          content: " ";
          border-bottom: 10px solid #e2eef9;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          position: absolute;
          bottom: -1px;
          left: 46%;
          z-index: 999; }
      header#header .menu ul#menu-top li:hover ul {
        /*opacity: 1;*/
        display: block;
        /*top: 50px;*/
        visibility: visible; }
    header#header .menu ul.login {
      text-align: right; }
      header#header .menu ul.login li {
        display: inline-block;
        padding: 15px 5px; }
        header#header .menu ul.login li:first-child:after {
          content: "/";
          padding-left: 10px; }

/* menu user */
#menu-user {
  height: 60px;
  background: #dff1fd; }
  #menu-user ul#menu-user-profile {
    padding-left: 120px; }
    #menu-user ul#menu-user-profile li {
      display: inline-block; }
      #menu-user ul#menu-user-profile li a {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        padding: 0 15px; }

/* end menu user*/
/* slier */
section#slider-home {
  position: relative;
  height: 500px;
  background: url("../images/Rental_Hero_1024x500_2x.jpg") no-repeat;
  background-size: cover;
  background-position: center; }
  section#slider-home .form-search {
    position: absolute;
    left: 0;
    right: 0;
    width: 610px;
    margin: auto;
    z-index: 10;
    height: 200px;
    top: 0;
    bottom: 0; }
    section#slider-home .form-search ul.list-search li {
      display: inline-block;
      width: 25%;
      float: left;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid #FFF;
      position: relative; }
      section#slider-home .form-search ul.list-search li a {
        color: #FFF;
        padding: 15px 0;
        display: block; }
    section#slider-home .form-search ul.list-search li.active {
      background-color: rgba(0, 116, 228, 0.75); }
      section#slider-home .form-search ul.list-search li.active:after {
        content: " ";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid #FFFFFF;
        position: absolute;
        bottom: -26px;
        right: 0;
        left: 0;
        margin: auto; }
    section#slider-home .form-search .input-search {
      background-color: #FFF;
      display: inline-block;
      width: 100%;
      padding: 5px;
      margin-top: 25px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      /*      input{
              border: none;
            }*/ }
      section#slider-home .form-search .input-search .text-box-search {
        width: 85%;
        float: left; }
        section#slider-home .form-search .input-search .text-box-search input {
          height: 40px;
          border-radius: 0px;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          -o-border-radius: 0px;
          -ms-border-radius: 0px;
          border: none;
          outline: none;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none; }
      section#slider-home .form-search .input-search .bottom-submit {
        width: 15%;
        float: left; }
        section#slider-home .form-search .input-search .bottom-submit .submit {
          text-transform: uppercase;
          text-align: center;
          background-color: #0074e4;
          width: 100%;
          display: inline-block;
          color: #FFF;
          padding: 10px 0;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -o-border-radius: 5px;
          -ms-border-radius: 5px; }
  section#slider-home .slier-register {
    position: absolute;
    height: 50px;
    background-color: rgba(24, 52, 93, 0.85);
    width: 100%;
    bottom: 0; }
    section#slider-home .slier-register .bottom-register {
      display: block; }
      section#slider-home .slier-register .bottom-register h3 {
        display: inline-block;
        color: #FFF;
        line-height: 50px; }
      section#slider-home .slier-register .bottom-register a {
        text-align: center;
        height: 42px;
        line-height: 42px;
        background-color: #0074e4;
        padding-top: 2px;
        display: inline-block;
        text-transform: uppercase;
        color: #FFF;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 4px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
        -ms-border-radius: 20px; }
        section#slider-home .slier-register .bottom-register a:hover {
          color: #FFF; }

section#slider-home.rent {
  background: url("../images/Buy_Hero_117895303_1024x500_2x.jpg") no-repeat; }

section#slider-home.zestimate {
  background: url("../images/Sell_Hero_120987520_1024x500_2x.jpg") no-repeat; }

section#slider-home.sell {
  background: url("../images/Zestimate_Hero_124544671_1024x500_2x.jpg") no-repeat; }

/*end slier*/
/* List home */
#list-home .block-page {
  padding: 0 8px;
  padding-right: 16px;
  width: 100%;
  float: left;
  margin-top: 30px; }
  #list-home .block-page div.title {
    border-bottom: 2px solid #0074e4;
    margin-right: 15px; }
    #list-home .block-page div.title h2 {
      padding: 0;
      margin: 0;
      display: inline-block;
      border-bottom: 2px solid #dd0a0a;
      position: relative;
      margin-bottom: -2px;
      padding-bottom: 5px;
      font-size: 16px;
      text-transform: uppercase; }

.content-item {
  position: relative;
  width: 100%;
  float: left;
  margin-top: 15px; }
  .content-item ul .owl-wrapper-outer {
    width: 1125px; }
  .content-item ul .owl-item li {
    width: 100%; }
  .content-item ul#list-home-news li .item {
    border: 1px solid #DDD; }
    .content-item ul#list-home-news li .item .name {
      padding-left: 5px;
      padding-right: 5px; }
      .content-item ul#list-home-news li .item .name .line {
        border-bottom: 1px solid #DDD;
        margin-bottom: 5px;
        padding-bottom: 5px; }
    .content-item ul#list-home-news li .item .info {
      padding-left: 5px;
      padding-right: 5px;
      display: inline-block; }
      .content-item ul#list-home-news li .item .info p {
        width: 50%;
        float: left;
        padding: 5px 0; }
        .content-item ul#list-home-news li .item .info p span {
          color: #636363; }
      .content-item ul#list-home-news li .item .info p.price {
        text-align: center; }
        .content-item ul#list-home-news li .item .info p.price var {
          font-size: 18px;
          color: red;
          font-weight: bold; }
      .content-item ul#list-home-news li .item .info p.acreage {
        text-align: center; }
        .content-item ul#list-home-news li .item .info p.acreage span {
          color: #000;
          position: relative;
          top: -5px;
          font-size: 12px; }
  .content-item ul#list-home-news li:hover .item {
    border-color: #0074e4; }
  .content-item ul#list-home-news .owl-controls .owl-buttons {
    display: inline-block;
    position: absolute;
    right: 0;
    top: -46px; }
    .content-item ul#list-home-news .owl-controls .owl-buttons div {
      color: #000;
      padding: 0; }

#list-home ul.nav-tabs {
  border-bottom: 2px solid #DDD; }
  #list-home ul.nav-tabs li {
    margin: 0; }
    #list-home ul.nav-tabs li a {
      text-transform: uppercase;
      border-radius: 0;
      margin: 0;
      border: none;
      padding: 10px 0px 5px 0;
      position: relative;
      margin-right: 30px;
      top: 2px; }
      #list-home ul.nav-tabs li a:hover, #list-home ul.nav-tabs li a:focus {
        background: transparent;
        border: none; }
      #list-home ul.nav-tabs li a:hover {
        color: red;
        border-bottom: 2px solid red; }
  #list-home ul.nav-tabs li.active a {
    color: #0074e4;
    border-bottom: 2px solid #0074e4; }

ul#list-home-news {
  margin-top: 15px; }
  ul#list-home-news li {
    margin-bottom: 15px; }
    ul#list-home-news li .item {
      border: 1px solid #DDD;
      position: relative; }
      ul#list-home-news li .item .img {
        position: relative; }
        ul#list-home-news li .item .img .news-icon {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 9;
          color: #FFF;
          padding: 0 5px;
          height: 20px; }
          ul#list-home-news li .item .img .news-icon span {
            color: white;
            z-index: 9;
            position: relative;
            transform: rotate(-45deg);
            display: block;
            top: 9px;
            right: 1px;
            text-transform: uppercase; }
          ul#list-home-news li .item .img .news-icon:before {
            content: " ";
            position: absolute;
            top: 0px;
            left: 0px;
            border-left: 50px solid #00a650;
            border-bottom: 50px solid transparent; }
        ul#list-home-news li .item .img .news-icon.hot:before {
          border-left-color: #e30513; }
        ul#list-home-news li .item .img .district {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 9;
          background: #0074e4;
          color: #FFF;
          padding: 0 5px;
          height: 20px; }
          ul#list-home-news li .item .img .district:before {
            content: " ";
            border-right: 20px solid #0074e4;
            border-top: 20px solid transparent;
            border-bottom: 0px solid transparent;
            position: absolute;
            left: -20px; }
      ul#list-home-news li .item .item-price {
        position: absolute;
        top: 10px;
        right: 0;
        background: #e52529;
        z-index: 9; }
        ul#list-home-news li .item .item-price .sf-price {
          height: 20px;
          padding: 0 5px;
          color: #FFF;
          line-height: 20px;
          position: relative; }
          ul#list-home-news li .item .item-price .sf-price:before {
            content: " ";
            border-right: 10px solid #e52529;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            position: absolute;
            left: -10px; }
          ul#list-home-news li .item .item-price .sf-price:after {
            height: 20px;
            width: 5px;
            content: " ";
            position: absolute;
            right: -5px;
            background: #e52529; }
          ul#list-home-news li .item .item-price .sf-price span:after {
            content: " ";
            border-top: 5px solid #c71b20;
            border-left: 0px solid transparent;
            border-right: 5px solid transparent;
            bottom: -5px;
            right: -5px;
            position: absolute; }
      ul#list-home-news li .item .name {
        padding-left: 5px;
        padding-right: 5px; }
        ul#list-home-news li .item .name a {
          font-weight: bold; }
        ul#list-home-news li .item .name .line {
          border-bottom: 1px solid #DDD;
          margin-bottom: 5px;
          padding-bottom: 5px; }
      ul#list-home-news li .item .info {
        padding-left: 5px;
        padding-right: 5px;
        display: inline-block;
        /*       p{
                 width: 50%;
                 float: left;
                 padding: 5px 0;
                 span{
                   color: #636363;
                 }
               }
               p.price{
                 text-align: center;
                 var{
                   font-size: 18px;
                   color: red;
                   font-weight: bold;
                 }
               }
               p.acreage{
                 text-align: center;
                 span{
                   color: #000;
                   position: relative;
                   top: -5px;
                   font-size: 12px;
                 }
               }*/ }
        ul#list-home-news li .item .info p {
          line-height: 20px;
          height: 60px;
          overflow: hidden; }
    ul#list-home-news li:hover .item {
      border-color: #0074e4; }

.home-readmove {
  text-align: right; }
  .home-readmove span {
    color: #1d3158;
    position: relative;
    top: 2px; }

header#header .container-fluid {
  padding-left: 0;
  padding-right: 0; }

.menu-search {
  height: 50px;
  background: #e2eef9;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 9;
  padding-left: 110px;
  line-height: 50px; }
  .menu-search .input-search {
    display: inline-block; }
    .menu-search .input-search input {
      border-radius: 0; }
  .menu-search ul li.search-textbox {
    width: 230px;
    float: left; }
  .menu-search ul li.search-list-item.selected a.type-serach {
    color: #0074e4; }
    .menu-search ul li.search-list-item.selected a.type-serach:after {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
      border-top-color: #0074e4; }
  .menu-search ul li.search-list-item.selected ul.level {
    display: block; }
  .menu-search ul li.search-list-item {
    min-width: 100px;
    float: left;
    position: relative;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8; }
    .menu-search ul li.search-list-item a.search-page {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      padding: 0 50px; }
    .menu-search ul li.search-list-item a.type-serach:after {
      content: " ";
      width: 0;
      height: 0;
      display: inline-block;
      border-top: 5px solid #696969;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      margin-left: 5px;
      position: relative;
      top: -2px; }
    .menu-search ul li.search-list-item ul.level {
      display: none; }
    .menu-search ul li.search-list-item ul {
      position: absolute;
      top: 50px;
      left: 0;
      width: 300px;
      background: #FFF;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
      padding: 15px; }
      .menu-search ul li.search-list-item ul li {
        line-height: 28px; }
        .menu-search ul li.search-list-item ul li .for-home {
          width: 0;
          height: 0;
          border: 0;
          position: absolute;
          left: -9999999px; }
        .menu-search ul li.search-list-item ul li input[type=checkbox]:checked + .fs-listings-input > label:after,
        .menu-search ul li.search-list-item ul li input[type=checkbox]:checked + label:after {
          font-family: "vinareate" !important;
          content: "\61";
          font-style: normal !important;
          font-weight: 400 !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          display: inline-block;
          text-align: center;
          line-height: 15px;
          font-size: 12px;
          position: absolute;
          top: 6px;
          left: 0;
          height: 15px;
          width: 15px; }
        .menu-search ul li.search-list-item ul li label.fs-home {
          position: relative;
          cursor: pointer;
          text-transform: uppercase; }
          .menu-search ul li.search-list-item ul li label.fs-home:before {
            content: " ";
            height: 15px;
            width: 15px;
            border: 1px solid #ccc;
            background-color: #fff;
            display: inline-block;
            position: relative;
            top: 2px;
            margin-right: 5px; }
        .menu-search ul li.search-list-item ul li span.root-radius:before {
          content: " ";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #d61827;
          display: inline-block;
          margin-right: 5px; }
        .menu-search ul li.search-list-item ul li ul {
          position: relative;
          top: inherit;
          width: auto;
          padding: 0 0 0 15px;
          box-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none; }
          .menu-search ul li.search-list-item ul li ul li label.fs-home {
            font-weight: normal;
            text-transform: initial; }
      .menu-search ul li.search-list-item ul li.rent span.root-radius:before {
        background: #93f; }
  .menu-search ul li.price .search-block-price .textbox-price {
    display: block;
    float: left;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px; }
    .menu-search ul li.price .search-block-price .textbox-price input {
      width: 120px;
      display: inline-block;
      float: left; }
    .menu-search ul li.price .search-block-price .textbox-price .dash {
      width: 30px;
      height: 1px;
      display: inline-block;
      float: left; }
  .menu-search ul li.price .search-block-price .content-price .list-price-item {
    width: 100%;
    float: left; }
    .menu-search ul li.price .search-block-price .content-price .list-price-item ul {
      padding: 0; }
      .menu-search ul li.price .search-block-price .content-price .list-price-item ul li {
        height: 30px;
        line-height: 30px;
        padding-left: 5px; }
        .menu-search ul li.price .search-block-price .content-price .list-price-item ul li:hover {
          background: #0074e4;
          color: #FFF; }
  .menu-search ul li.home-type ul {
    width: 200px; }
    .menu-search ul li.home-type ul li label.fs-home {
      font-weight: normal;
      text-transform: initial; }
      .menu-search ul li.home-type ul li label.fs-home .home-type-dak {
        padding-left: 5px; }
  .menu-search ul li.advanced ul {
    width: 250px; }
    .menu-search ul li.advanced ul li .form-group {
      margin: 15px 0;
      float: left;
      width: 100%; }
      .menu-search ul li.advanced ul li .form-group .form-control {
        border-radius: 0; }
    .menu-search ul li.advanced ul li .btn-search-advance .btn-search {
      background: #0074e4;
      color: #FFF;
      text-transform: uppercase;
      padding: 2px 20px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      cursor: pointer; }

#wrapper {
  overflow: hidden;
  padding-top: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0; }
  #wrapper #search-content-container {
    height: 100%;
    padding-bottom: 95px; }
    #wrapper #search-content-container #content {
      height: 100%; }
      #wrapper #search-content-container #content .map {
        width: 60%;
        min-height: 1px;
        float: left;
        height: 100%;
        background: #DDD;
        position: relative;
        -webkit-transition: width 350ms linear;
        transition: width 350ms linear; }
      #wrapper #search-content-container #content .page-content {
        width: 40%;
        min-height: 1px;
        float: left;
        height: 100%;
        -webkit-transition: width 350ms linear;
        transition: width 350ms linear;
        box-shadow: -2px -1px 5px 0 rgba(0, 0, 0, 0.4);
        position: relative;
        overflow: hidden; }
        #wrapper #search-content-container #content .page-content .list-post {
          padding: 8px 8px 0 8px;
          overflow-y: auto;
          height: 100%; }
          #wrapper #search-content-container #content .page-content .list-post ul.page-rent-title {
            border-bottom: 2px solid #DDD; }
            #wrapper #search-content-container #content .page-content .list-post ul.page-rent-title li {
              display: inline-block;
              padding-bottom: 4px; }
              #wrapper #search-content-container #content .page-content .list-post ul.page-rent-title li a {
                padding: 5px 15px;
                font-size: 16px; }
            #wrapper #search-content-container #content .page-content .list-post ul.page-rent-title li.active a {
              color: #0074e4;
              border-bottom: 2px solid #0074e4; }

#rent-page {
  margin-top: 15px; }
  #rent-page li {
    margin-bottom: 15px; }
    #rent-page li:hover .item-rent {
      box-shadow: 0 0 2px 1px rgba(230, 32, 19, 0.65); }
      #rent-page li:hover .item-rent .img-rent img {
        opacity: 0.5; }
      #rent-page li:hover .item-rent .img-rent .viewmore {
        display: block; }
    #rent-page li .item-rent {
      border-bottom: 1px solid #e2eef9;
      display: inline-block;
      width: 100%;
      padding-bottom: 15px; }
      #rent-page li .item-rent .img-rent {
        width: 100%;
        float: left;
        min-height: 1px;
        position: relative; }
        #rent-page li .item-rent .img-rent .rent-date {
          position: absolute;
          top: 5px;
          left: 5px;
          background: rgba(56, 113, 184, 0.95);
          color: #FFF;
          padding: 3px 5px;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -o-border-radius: 3px;
          -ms-border-radius: 3px;
          z-index: 8; }
        #rent-page li .item-rent .img-rent .viewmore {
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -40px;
          display: block;
          width: 80px;
          height: 30px;
          background: red;
          z-index: 99;
          color: #FFF;
          line-height: 30px;
          text-align: center;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -o-border-radius: 5px;
          -ms-border-radius: 5px;
          display: none; }
        #rent-page li .item-rent .img-rent img {
          border: 1px solid #DDD; }
      #rent-page li .item-rent .content-rent {
        width: 100%;
        float: left;
        min-height: 1px;
        padding: 0 10px; }
        #rent-page li .item-rent .content-rent h2 {
          font-size: 14px;
          font-weight: bold;
          margin-top: 5px; }
        #rent-page li .item-rent .content-rent .rent-price {
          display: inline-block;
          width: 100%; }
          #rent-page li .item-rent .content-rent .rent-price p {
            width: 50%;
            float: left;
            height: 30px; }
          #rent-page li .item-rent .content-rent .rent-price p.acreage {
            text-align: center; }
            #rent-page li .item-rent .content-rent .rent-price p.acreage span {
              font-size: 12px;
              position: relative;
              top: -3px; }
          #rent-page li .item-rent .content-rent .rent-price p.price span {
            color: red;
            font-weight: bold;
            font-size: 18px; }
        #rent-page li .item-rent .content-rent .rent-description {
          color: #737373;
          font-style: italic; }

.footer-scroll {
  background: #000;
  text-align: center;
  display: inline-block;
  width: 100%; }
  .footer-scroll .menu-footer ul {
    border-bottom: 1px solid #DDD; }
  .footer-scroll ul {
    margin: 5px 0px 5px 0; }
    .footer-scroll ul li {
      display: inline-block;
      color: #FFF; }
      .footer-scroll ul li a {
        color: #FFF;
        padding: 2px 15px;
        line-height: 28px; }

#step1 {
  position: relative;
  margin-top: 15px; }
  #step1 .content-step {
    position: relative; }
    #step1 .content-step .content-step-1 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(134, 188, 36, 0.8);
      padding: 15px; }
      #step1 .content-step .content-step-1 h1 {
        text-transform: uppercase;
        color: #FFF;
        font-size: 18px; }
      #step1 .content-step .content-step-1 .form-control,
      #step1 .content-step .content-step-1 input[type='text'] {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -o-border-radius: 0px;
        -ms-border-radius: 0px;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        border: none;
        margin-bottom: 15px; }
      #step1 .content-step .content-step-1 input.zip {
        width: 100px; }
      #step1 .content-step .content-step-1 .btn {
        background: #0074e4;
        color: #FFF;
        border-color: #0074e4;
        text-transform: uppercase;
        padding: 6px 25px; }
        #step1 .content-step .content-step-1 .btn:active {
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          outline: none; }

.block-contruct {
  margin-bottom: 30px; }
  .block-contruct h2 {
    font-size: 24px;
    font-weight: bold;
    color: #636362;
    text-align: center;
    margin: 30px 0; }
  .block-contruct p {
    color: #636362;
    text-align: center; }
    .block-contruct p span {
      font-size: 80px;
      color: #009ee3; }

#step_tab {
  margin: 30px 0; }
  #step_tab ul.tab-step-list {
    border-bottom: none; }
    #step_tab ul.tab-step-list li {
      width: 100%;
      display: block;
      height: 50px; }
      #step_tab ul.tab-step-list li a {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -o-border-radius: 0px;
        -ms-border-radius: 0px;
        border: none;
        text-transform: uppercase;
        font-size: 16px;
        color: #a7a7a7; }
        #step_tab ul.tab-step-list li a:focus, #step_tab ul.tab-step-list li a:active, #step_tab ul.tab-step-list li a:hover {
          background: transparent; }
        #step_tab ul.tab-step-list li a span {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -o-border-radius: 50%;
          -ms-border-radius: 50%;
          background: #a7a7a7;
          display: inline-block;
          color: #FFF;
          text-align: center;
          line-height: 30px;
          margin-right: 15px; }
    #step_tab ul.tab-step-list li.active a {
      font-weight: bold;
      color: #86bc24;
      posistion: relative; }
      #step_tab ul.tab-step-list li.active a span {
        background: #86bc24; }
      #step_tab ul.tab-step-list li.active a:before {
        position: absolute;
        content: " ";
        width: 30px;
        height: 30px;
        background: url("../images/border-step.png") right center no-repeat;
        right: -19px;
        top: 10px;
        z-index: 9; }
  #step_tab .tab-content {
    min-height: 500px;
    border: 1px solid #86bc24; }
  #step_tab .content-tab-step {
    padding: 30px; }
    #step_tab .content-tab-step .form-group {
      margin-bottom: 30px; }
      #step_tab .content-tab-step .form-group .btn,
      #step_tab .content-tab-step .form-group .form-control {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -o-border-radius: 0px;
        -ms-border-radius: 0px;
        height: 40px; }
    #step_tab .content-tab-step .col-md-12,
    #step_tab .content-tab-step .col-md-6 {
      padding-right: 15px;
      padding-left: 15px; }
    #step_tab .content-tab-step .btn.btn-next {
      background: #79b829;
      border-color: #79b829;
      outline: none;
      text-transform: uppercase; }
      #step_tab .content-tab-step .btn.btn-next:focus, #step_tab .content-tab-step .btn.btn-next:active {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none; }
  #step_tab .content-tab-step.step-2 .col-md-6 {
    height: 95px; }

.step-category .list-radio input[type="radio"] {
  display: none; }
.step-category .list-radio input[type='radio'] + label {
  display: inline-block;
  background-repeat: no-repeat;
  cursor: pointer; }
.step-category .list-radio input[type='radio']:checked + label:before {
  background-position: 0 2px; }
.step-category .list-radio label {
  position: relative; }
  .step-category .list-radio label:before {
    content: " ";
    height: 18px;
    width: 18px;
    display: inline-block;
    background-image: url("../images/radio.png");
    background-position: 0 -18px;
    top: 3px;
    position: relative;
    margin-right: 5px; }
.step-category .list-radio ul li {
  width: 50%;
  display: inline-block;
  float: left; }

.content-tab-step.step-2.step-3 h2 {
  text-transform: uppercase;
  color: #86bc24;
  font-size: 16px;
  border-bottom: 2px solid #86bc24;
  padding-bottom: 3px;
  font-weight: bold;
  margin-bottom: 30px; }
.content-tab-step.step-2.step-3 .tax .tax-date {
  height: 40px;
  line-height: 40px; }

#step_tab .content-tab-step.step-4 .uploads {
  height: 200px;
  background: #c6c3c3;
  border: 1px solid #8a8685;
  margin-top: 10px; }
  #step_tab .content-tab-step.step-4 .uploads p {
    text-align: center;
    margin-top: 85px; }
#step_tab .content-tab-step.step-4 .form-group textarea.form-control {
  height: 200px; }

.unit-features {
  padding-left: 30px;
  margin-bottom: 30px; }
  .unit-features h3 {
    color: #27348a;
    font-size: 14px;
    border-bottom: 1px dotted #27348a;
    positon: relative;
    margin-bottom: 15px; }
    .unit-features h3 span {
      background: #FFF;
      position: relative;
      top: 5px;
      padding-right: 2px; }
  /*.unit-features input[type="checkbox"] {*/
    /*display: none; }*/
  /*.unit-features input[type='checkbox'] + label {*/
    /*display: inline-block;*/
    /*background-repeat: no-repeat;*/
    /*cursor: pointer; }*/
  .unit-features input[type='checkbox']:checked + label:before {
    background-position: 0 -74px; }
  .unit-features label {
    position: relative;
    font-weight: normal;
    font-size: 12px; }
    /*.unit-features label:before {*/
      /*content: " ";*/
      /*height: 19px;*/
      /*width: 19px;*/
      /*display: inline-block;*/
      /*background-image: url("../images/radio.png");*/
      /*background-position: 0 -50px;*/
      /*top: 5px;*/
      /*position: relative;*/
      /*margin-right: 5px; }*/

footer#footer {
  border-top: 1px solid #DDD;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px; }
  footer#footer h3 {
    text-transform: uppercase;
    color: #213158;
    font-size: 14px;
    font-weight: bold; }
  footer#footer .box-footer-shadow {
    height: 2px;
    border-radius: 50%;
    box-shadow: 0 10px 10px #989898;
    width: 75%;
    margin: -12px auto 0; }
  footer#footer .list-item-footer {
    margin-top: 30px; }
  footer#footer ul li a {
    color: #878786; }
    footer#footer ul li a:hover {
      color: #302683; }
  footer#footer .box-address p {
    color: #878786;
    line-height: 22px; }
  footer#footer .box-address p.social {
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 15px; }
    footer#footer .box-address p.social a {
      font-size: 24px;
      position: relative;
      top: 5px;
      margin-right: 10px; }
  footer#footer .box-address p.connect, footer#footer .box-address p.social {
    color: #213158;
    font-weight: bold; }
  footer#footer .box-address p.connect {
    height: 50px; }
    footer#footer .box-address p.connect span {
      display: inline-block;
      float: left;
      line-height: 50px; }
    footer#footer .box-address p.connect a {
      font-size: 58px;
      position: relative;
      top: -5px; }

/* coppyright */
.coppyright {
  background: #009ee3;
  padding: 15px 0;
  text-align: center; }
  .coppyright ul {
    display: inline-block; }
    .coppyright ul li {
      display: inline-block;
      padding: 0 15px; }
      .coppyright ul li a {
        color: #FFF; }
        .coppyright ul li a:hover {
          color: #302683; }
  .coppyright .vina-realtor {
    margin-top: 10px; }


/* end coppyright */
/*@import "layout/login";
@import "layout/masterpage";
@import "layout/details";
@import "layout/user";
@import "layout/custommenusp";
@import "layout/search";
@import "layout/contact";
@import "layout/about";
@import "layout/footer";

@import "components/button";
@import "media/media";*/

/*# sourceMappingURL=main.css.map */