.wrap-new-adv{
	.top-sub-adv{
		.show-adv{
			display:block;
			margin-bottom: 12px;
			width: 100%;
			figure{
				a{
					float: left;
					width: 47%;
					margin-right: 3%;
				}
				figcaption{
					width: 50%;
					float: left;
					p, span{
						font-size: 12px;
						color: $color-address;
					}
					p{
						a{
							font-size: 12px;
							color: #000;
							font-weight: bold;
							display: block;
							overflow: hidden;
							height: 20px;
							line-height: 20px;
							width: 100%;
							margin-bottom: 5px;
							&:hover{
								color: $color-base;
							}
						}
					}
					p.address{
						margin-bottom: 5px;
						overflow: hidden;
						height: 40px;
						line-height: 18px;
						display: block;
						width: 100%;
					}
				}
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.category-menu-left{
		margin-bottom: 0;
		
		ul{
			height: 276px;
			li{
				height: 43px;
				line-height: 43px;
				a{
					font-size: 12px;
					padding-left: 5px;
					span.icon-icon-health-9, .icon-icon-health-5, .icon-icon-health-4, .icon-icon-health-8, .icon-icon-health-6, .icon-icon-health-7{
						font-size: 16px;
						color: #575756;
						display: inline-flex;
						position: relative;
						top: 3px;
						margin-right:3px;
					}
				}
				
			}
		}
	}
}
.all-article{
	.show-sub.show-sub-2{
		figure{
			figcaption{
				p{
					span{
							font-size: 10px;
					}
					img{
							width: 10px;
					}
				}	
			}
		}
	}
	.show-sub{
		figure{
			figcaption{
				p{
					img{
						width: 10px;
					}
				}
			}
		}
	}
}
#header 
{
    .navigation{
        .navbar-default{
            form.form-inline{
                .form-group{
                    input.form-control{
                        width: 250px;
                    }
                } 
            }
        }
    }  
}   
ul.ui-widget-content{
    min-width: 249px;
}
.nav>li>a{
	padding: 10px 14px;
}