<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vinarealte</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="libs/boostrap-select/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/owl.theme.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/fonts.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="libs/boostrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="js/scripts.js" type="text/javascript"></script>
</head>
<body>
<!-- header -->
<header id="header">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-12">
          <div class="logo"><img src="images/vinarealor.png"></div>
  			<div class="menu">
  				<div class="row">
  					<div class="col-lg-9">
  						<ul id="menu-top">
		  					<li><a href="#">Cần mua</a></li>
		  					<li><a href="#">Cần bán</a></li>
		  					<li><a href="#">Cho thuê</a></li>
		  					<li><a href="#">Nhà môi giới</a></li>
		  					<li><a href="#">Tư vấn</a></li>
		  					<li><a href="#">Thiết kế phòng</a></li>
		  					<li><a href="#">Phong thủy</a></li>
		  				</ul>
  					</div>
  					<div class="col-lg-3">
  						<ul class="login">
		  					<li><a href="#">Đăng ký</a></li>
		  					<li><a href="#">Đăng nhập</a></li>
		  				</ul>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</header>
<section id="menu-user">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul id="menu-user-profile">
          <li><a href="#">Quản lý</a></li>
          <li><a href="#">Tài nguyên</a></li>
          <li><a href="#">Đăng bài</a></li>
          <li><a href="#">Hộp thư</a></li>
          <li><a href="#">Cài đặt</a></li>
          <li><a href="#">Trợ giúp</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- end header -->

<section id="step_tab">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-tabs tab-step-list" role="tablist">
          <li role="presentation"><a href="#step-1" aria-controls="step-1" role="tab" data-toggle="tab"><span>1</span> Vị trí nhà</a></li>
          <li role="presentation"><a href="#step-2" aria-controls="step-2" role="tab" data-toggle="tab"><span>2</span>Thông tin liên hệ</a></li>
          <li role="presentation"><a href="#step-3" aria-controls="step-3" role="tab" data-toggle="tab"><span>3</span>Thông tin nhà đất</a></li>
          <li role="presentation"><a href="#step-4" aria-controls="step-4" role="tab" data-toggle="tab"><span>4</span>Hình và Video</a></li>
          <li role="presentation" class="active"><a href="#step-5" aria-controls="step-5" role="tab" data-toggle="tab"><span>5</span>Mô tả</a></li>
          <li role="presentation"><a href="#step-6" aria-controls="step-6" role="tab" data-toggle="tab"><span>6</span>Xem trước</a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="step-1">
            <div class="content-tab-step">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number-address">nhập số nhà</label>
                    <input type="text" class="form-control" id="number-address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number-address">Chọn tỉnh/thành phố</label>
                    <select class="selectpicker form-control" data-live-search="true">
                      <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                      <option data-tokens="mustard">Burger, Shake and a Smile</option>
                      <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number-address">Nhập tên đường</label>
                    <input type="text" class="form-control" id="number-address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number-address">Chọn quận/huyện</label>
                      <select class="selectpicker form-control" data-live-search="true">
                        <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                        <option data-tokens="mustard">Burger, Shake and a Smile</option>
                        <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                      </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number-address">Mã zip/code</label>
                    <input type="text" class="form-control" id="number-address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number-address">Chọn phường/xã</label>
                      <select class="selectpicker form-control" data-live-search="true">
                        <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                        <option data-tokens="mustard">Burger, Shake and a Smile</option>
                        <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                      </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number-address">Chọn loại dư án</label>
                      <select class="selectpicker form-control" data-live-search="true">
                        <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                        <option data-tokens="mustard">Burger, Shake and a Smile</option>
                        <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                      </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group step-category">
                    <label for="number-address">Danh mục</label>
                    <div class="list-radio">
                      <ul>
                        <li>
                          <input type="radio" id="shipadd2" name="address" />
                          <label for="shipadd2">Nhà đất bán</label>
                        </li>
                        <li>
                          <input type="radio" id="shipadd" name="address" />
                          <label for="shipadd">Nhà đất cho thuê</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-next">Bước tiếp theo</button>
                </div>
                <div class="col-md-6"></div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="step-2">
            <div class="content-tab-step step-2">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number-address">Họ và tên</label>
                    <input type="text" class="form-control" id="number-address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number-address">Tên công ty</label>
                    <input type="text" class="form-control" id="number-address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number-address">Email</label>
                    <input type="text" class="form-control" id="number-address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number-address">Số điện thoại</label>
                    <input type="text" class="form-control" id="number-address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group step-category">
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-next">Bước tiếp theo</button>
                </div>
                <div class="col-md-6"></div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="step-3">
            <div class="content-tab-step step-2 step-3">
              <div class="row">
                <div class="col-md-12"><h2>Thông tin giá</h2></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number-address">Giá bán</label>
                    <input type="text" class="form-control" id="number-address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number-address">Giá trả theo tháng</label>
                    <input type="text" class="form-control" id="number-address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    
                  </div>
                </div>
                <div class="col-md-12"><h2>Lịch sử thuế</h2></div>
                <div class="col-md-12 tax">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="number-address">Năm</label>
                        <select class="selectpicker form-control" data-live-search="true">
                          <option data-tokens="1">2016</option>
                          <option data-tokens="2">2015</option>
                          <option data-tokens="3">2014</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-12"><label>Số tiền đóng</label></div>
                      </div>
                      <div class="row">
                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="text" class="form-control" id="number-address">
                          </div>
                        </div>
                        <div class="col-md-3"><span class="tax-date">2016</span></div>
                      </div>
                      <div class="row">
                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="text" class="form-control" id="number-address">
                          </div>
                        </div>
                        <div class="col-md-3"><span class="tax-date">2015</span></div>
                      </div>
                      <div class="row">
                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="text" class="form-control" id="number-address">
                          </div>
                        </div>
                        <div class="col-md-3"><span class="tax-date">2014</span></div>
                      </div>
                      <div class="row">
                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="text" class="form-control" id="number-address">
                          </div>
                        </div>
                        <div class="col-md-3"><span class="tax-date">2013</span></div>
                      </div>
                      
                      <div class="row">
                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="text" class="form-control" id="number-address">
                          </div>
                        </div>
                        <div class="col-md-3"><span class="tax-date">2012</span></div>
                      </div>
                      
                      <div class="row">
                        <div class="col-md-9">
                          <div class="form-group">
                            <input type="text" class="form-control" id="number-address">
                          </div>
                        </div>
                        <div class="col-md-3"><span class="tax-date">2011</span></div>
                      </div>
                      
                    </div>
                  </div>
                </div>
                
                
                
                <div class="col-md-12"><h2>Thông tin chi tiết</h2></div>
                
                <div class="col-md-12 step-3-detail">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="number-address">Phòng ngủ </label>
                        <select class="selectpicker form-control" data-live-search="true">
                          <option data-tokens="1">1</option>
                          <option data-tokens="2">2</option>
                          <option data-tokens="3">3</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="number-address">Phòng khách</label>
                        <select class="selectpicker form-control" data-live-search="true">
                          <option data-tokens="1">1</option>
                          <option data-tokens="2">2</option>
                          <option data-tokens="3">3</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="number-address">Phòng ăn </label>
                        <select class="selectpicker form-control" data-live-search="true">
                          <option data-tokens="1">1</option>
                          <option data-tokens="2">2</option>
                          <option data-tokens="3">3</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="number-address">Phòng làm việc </label>
                        <select class="selectpicker form-control" data-live-search="true">
                          <option data-tokens="1">1</option>
                          <option data-tokens="2">2</option>
                          <option data-tokens="3">3</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="number-address">Phòng thờ </label>
                        <select class="selectpicker form-control" data-live-search="true">
                          <option data-tokens="1">1</option>
                          <option data-tokens="2">2</option>
                          <option data-tokens="3">3</option>
                        </select>
                      </div>
                    </div>
                    
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="number-address">Phòng giải trí </label>
                        <select class="selectpicker form-control" data-live-search="true">
                          <option data-tokens="1">1</option>
                          <option data-tokens="2">2</option>
                          <option data-tokens="3">3</option>
                        </select>
                      </div>
                    </div>
                    
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="number-address">Ban công </label>
                        <select class="selectpicker form-control" data-live-search="true">
                          <option data-tokens="1">1</option>
                          <option data-tokens="2">2</option>
                          <option data-tokens="3">3</option>
                        </select>
                      </div>
                    </div>
                    
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="number-address">Hướng nhà </label>
                        <select class="selectpicker form-control" data-live-search="true">
                          <option data-tokens="1">1</option>
                          <option data-tokens="2">2</option>
                          <option data-tokens="3">3</option>
                        </select>
                      </div>
                    </div>
                    
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="number-address">Số tầng </label>
                        <input type="number" class="form-control" id="number-address">
                      </div>
                    </div>
                    
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="number-address">năm xây dựng </label>
                        <input type="date" class="form-control" id="number-address">
                      </div>
                    </div>
                    
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="number-address">Diện tích </label>
                        <input type="number" class="form-control" id="number-address">
                      </div>
                    </div>
                    
                  </div>
                </div>
                
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-next">Bước tiếp theo</button>
                </div>
                
                <div class="col-md-6"></div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="step-4">
            <div class="content-tab-step step-2 step-3 step-4">
              <div class="row">
                <div class="col-md-12"><h2>Thông tin mô tả</h2></div>
                <div class="col-md-12"><p>Bạn có thể tải lên một số lượng không giới hạn các bức ảnh cho danh sách nhà của bạn. Chọn các tập tin hình ảnh mà bạn muốn bằng cách nhấp vào nút bên dưới. Nếu bạn thích, bạn cũng có thể kéo các bức ảnh của bạn vào vùng thả dưới đây.</p></div>
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="uploads">
                      <p>Kéo & Thả vào đây để tải ảnh<br>
  hoặc Chọn file</p>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-12"><h2>Video clip</h2></div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Embedded Video</label>
                    <textarea class="form-control" rows="4" placeholder="<iframe></iframe>"></textarea>
                  </div>
                </div>
                
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-next">Bước tiếp theo</button>
                </div>
                <div class="col-md-6">
                  
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane active" id="step-5">
            <div class="content-tab-step step-2 step-3 step-4 step-5">
              <div class="row">
                <div class="col-md-12"><h2>Thông tin mô tả</h2></div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="number-address">Tiêu đề</label>
                        <input type="text" class="form-control" id="number-address">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="number-address">Mô tả ngắn</label>
                        <textarea class="form-control" rows="4"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="number-address">Nội dung</label>
                        <textarea class="form-control" rows="4" ></textarea>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="number-address">Website</label>
                        <input type="text" class="form-control" id="number-address">
                      </div>
                    </div>
                  </div>
                  
                </div>
                
                <div class="col-md-12"><h2>UNIT FEATURES</h2></div>
                <div class="col-md-12">
                  <div class="unit-features">
                    <div class="row">
                      <div class="col-md-12"><h3><span>Tính năng bổ sung</span></h3></div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Wet bar </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Jetted tub</label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Skylights </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Sauna </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Jacuzzi / Whirlpool </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> High / Vaulted ceiling </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Hot tub / Spa </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Granite countertop </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Tile floor </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Hardwood floor </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Fireplace </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    
                    <div class="row">
                      <div class="col-md-12"><h3><span>Máy móc gia dụng</span></h3></div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Trash compactor </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Freezer</label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Stainless steel appliances </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Garbage disposal </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Microwave </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Dishwasher </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Refrigerator </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Range / Oven </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="row">
                      <div class="col-md-12"><h3><span>Nội thất bên ngoài</span></h3></div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Greenhouse </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Sprinkler system</label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Garden </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Porch </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Pond </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Lake </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Lawn </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Fenced yard </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Yard </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Balcony, Deck, or Patio </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Private pool </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="row">
                      <div class="col-md-12"><h3><span>Sưởi & Làm lạnh</span></h3></div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Double pane / Storm windows </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Ceiling fans</label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Air conditioning </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Central A/C </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Heat: forced air </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="row">
                      <div class="col-md-12"><h3><span>Sưởi & Làm lạnh</span></h3></div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Mother-in-law unit </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Office</label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Pantry </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Breakfast nook </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Storage space </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Family room </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Master bath </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Walk-in closet </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Dining room </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Living room </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Solarium / Atrium </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Workshop </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Mud room </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Sun room </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Library </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Attic </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Recreation room </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Basement </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="row">
                      <div class="col-md-12"><h3><span>Wiring</span></h3></div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Intercom system </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Wired</label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> High-speed internet </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Cable-ready </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12"><h2>COMMUNITY FEATURES</h2></div>
                
                <div class="col-md-12">
                  <div class="unit-features">
                    <div class="row">
                      <div class="col-md-12"><h3><span>Building Type</span></h3></div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Assisted living</label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Over 55 active community</label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Loft layout </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Waterfront </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> New property </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Vintage building </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    
                    <div class="row">
                      <div class="col-md-12"><h3><span>Communal Parking</span></h3></div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Garage - Detached </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> RV parking</label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Garage - Attached </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> On-street parking </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Covered parking </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Off-street parking </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Guest parking </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="row">
                      <div class="col-md-12"><h3><span>Facilities & Recreation</span></h3></div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Dock </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Golf course</label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Sports court </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Basketball court </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Tennis court </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Lake </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Business center </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Barbecue </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Pond </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Playground </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Clubhouse </label>
                          </div>
                          
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Near transportation </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Fitness center </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Shared pool  </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="row">
                      <div class="col-md-12"><h3><span>Security & Access</span></h3></div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Disability access </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Doorman</label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Security system </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Gated entry </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Controlled access </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Secured entry </label>
                          </div>
                          <div class="col-md-3">
                            <input type="checkbox" id="web-bar" value="">
                            <label for="web-bar"> Elevator </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-next">Bước tiếp theo</button>
                </div>
                <div class="col-md-6">
                  
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="step-6">...</div>
        </div>
      </div>
    </div>
  </div>
</section>



<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box-footer-shadow"></div>
      </div>
    </div>
    <div class="row list-item-footer">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <h3>Nhà bán</h3>
            <ul>
              <li><a href="#">Bán nhà Tân Phú</a></li>
              <li><a href="#">Dự án căn hộ Jamona City</a></li>
              <li><a href="#">Căn hộ Hưng Phát</a></li>
              <li><a href="#">Căn hộ The Gold View</a></li>
              <li><a href="#">Căn hộ The Art</a></li>
              <li><a href="#">Căn hộ Đạt Gia Residence</a></li>
              <li><a href="#">Biệt thự Park Riverside</a></li>
              <li><a href="#">Căn hộ An Gia Riverside</a></li>
              <li><a href="#">Đất nền dự án Vạn Phúc</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <h3>Nhà cho thuê</h3>
            <ul>
              <li><a href="#">Bán nhà Tân Phú</a></li>
              <li><a href="#">Dự án căn hộ Jamona City</a></li>
              <li><a href="#">Căn hộ Hưng Phát</a></li>
              <li><a href="#">Căn hộ The Gold View</a></li>
              <li><a href="#">Căn hộ The Art</a></li>
              <li><a href="#">Căn hộ Đạt Gia Residence</a></li>
              <li><a href="#">Biệt thự Park Riverside</a></li>
              <li><a href="#">Căn hộ An Gia Riverside</a></li>
              <li><a href="#">Đất nền dự án Vạn Phúc</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 box-address">
        <h3>CÔNG TY TNHH VINA REALTOR</h3>
        <p>Địa chỉ: Tầng 4, Tòa nhà Bảo Minh, 217 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, TP. HCM.</p>
        <p>Tel: (08) 3932 9777 - (08) 3932 9333 - Fax: (08) 3932 9222.</p>
        <p>mail: <a href="mailto:contact@vinarealtor.vn">contact@vinarealtor.vn</a> - Hotline: 090 474 0278 (Ms. Lan).</p>
        <p class="social">KẾT NỐI VỚI VINA REATOR: 
          <a class="icon icon-social-2" href="#"></a>
          <a class="icon icon-circle" href="#"></a>
          <a class="icon icon-social" href="#"></a>
        </p>
        <p class="connect"><span>WEBSITE CÙNG HỆ THỐNG: </span> <a href="#" class="icon icon-unimedia"></a></p>
      </div>
    </div>
  </div>
</footer>
<section class="coppyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="#">Về chúng tôi</a></li>
          <li><a href="#">Tuyển dụng</a></li>
          <li><a href="#">Hợp tác đầu tư</a></li>
          <li><a href="#">Chính sách bảo mật thông tin</a></li>
          <li><a href="#">Quy định đăng tin</a></li>
          <li><a href="#">Hướng dẫn đăng tin</a></li>
          <li><a href="#">Bảng giá dịch vụ</a></li>
        </ul>
      </div>
      <div class="col-md-12 vina-realtor"><a href="#">Copyright © 2016 by Vina Realtor</a></div>
    </div>
  </div>
</section>
</body>
</html>