.contact{
	.title-contact{
		h2{
			margin-bottom: 0;
		}
	}
	.info-company{
		border:1px solid #d5d5d5;
		padding: 10px;
		p{
			
			margin-bottom: 2px;
		}
		p.map-company{
			margin-top: 20px;
		}
	}
}