header#header{
  background: $background;
  .logo{
    width: 100px;
    height: 100px;
    background: #FFF;
    position: absolute;
    z-index: 99;
  }
  .menu{
    padding-left: 120px;
    .col-lg-9{
      position: inherit;
    }
    ul#menu-top{
      li{
        display: inline-block;
        a{
          text-transform: uppercase;
          color: #FFF;
          padding: 0 15px;
          display: inline-block;
          height: 50px;
          line-height: 50px;
          &:hover{
            color: $hover;
          }
        }
        a.level{
          display: block;
          padding: 0 15px;
          position: relative;
        }
        ul{
          position: fixed;
          left: 0;
          visibility: hidden;
          top: 50px;
          z-index: 98;
          background: #e1effa;
          width: 100%;
          border-top: 1px solid #DDD;
/*          transition: all 0.2s;
          -moz-transition: all 0.2s;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;*/
          /*opacity: 0;*/
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
          -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
          -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
          li{
            width: 100%;
            .item-menu{
              padding-left: 120px;
              width: 100%;
              .item-menu-top{
                width: 19%;
                border-right: 1px solid #FFF;
                display: table-cell;
                padding-right: 15px;
                h2{
                  font-size: 14px;
                  margin-top: 10px;
                  padding: 0 15px;
                  text-transform: uppercase;
                  color: $color;
                  font-weight: bold;
                }
                a{
                  width: 100%;
                  display: block;
                  float: left;
                  height: 38px;
                  color: #000;
                  height: 30px;
                  line-height: 30px;
                  text-transform: inherit;
                  &:hover{
                    color: $hover;
                  }
                }
              }
            }
            
          }
        }
        &:hover{
          a.level.child{
            color: $color;
            &:before{
              content: " ";
              border-bottom: 10px solid #e2eef9;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              position: absolute;
              bottom: -1px;
              left: 46%;
              z-index: 999;
            }
          }
          ul{
            /*opacity: 1;*/
            display: block;
            /*top: 50px;*/
            visibility: visible;
          }
        }
      }
    }
    ul.login{
      text-align: right;
      li{
        display: inline-block;
        padding: 15px 5px;
        &:first-child{
          &:after{
            content: "/";
            padding-left: 10px;
          }
        }
      }
    }
  }
}


/* menu user */
#menu-user{
  height: 60px;
  background: $background-menu;
  ul#menu-user-profile{
    padding-left: 120px;
    li{
      display: inline-block;
      a{
        display: inline-block;
        height: 60px;
        line-height: 60px;
        padding: 0 15px;
      }
    }
  }
}
/* end menu user*/

/* slier */
section#slider-home{
  position: relative;
  height: 500px;
  background: url('../images/Rental_Hero_1024x500_2x.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  
  .form-search{
    position: absolute;
    left: 0;
    right: 0;
    width: 610px;
    margin: auto;
    z-index: 10;
    height: 200px;
    top: 0;
    bottom: 0;
    ul.list-search{
      li{
        display: inline-block;
        width: 25%;
        float: left;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
        border: 1px solid #FFF;
        position: relative;
        a{
          color: #FFF;
          padding: 15px 0;
          display: block;
        }
      }
      li.active{
        background-color: rgba(0,116,228,.75);
        &:after{
          content: " ";
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 15px solid #FFFFFF;
          position: absolute;
          bottom: -26px;
          right: 0;
          left: 0;
          margin: auto;
        }
      }
    }
    .input-search{
      background-color: #FFF;
      display: inline-block;
      width: 100%;
      padding: 5px;
      margin-top: 25px;
      @include border-radius(5px);
      .text-box-search{
        width: 85%;
        float: left;
        input{
          height: 40px;
          @include border-radius(0px);
          border: none;
          outline: none;
          @include box-shadow(none);
        }
      }
      .bottom-submit{
        width: 15%;
        float: left;
        .submit{
          text-transform: uppercase;
          text-align: center;
          background-color: $color;
          width: 100%;
          display: inline-block;
          color: #FFF;
          padding: 10px 0;
          @include border-radius(5px);
        }
      }
/*      input{
        border: none;
      }*/
    }
  }
  .slier-register{
    position: absolute;
    height: 50px;
    background-color: rgba(24,52,93,.85);
    width: 100%;
    bottom: 0;
    .bottom-register{
      display: block;
      h3{
        display: inline-block;
        color: #FFF;
        line-height: 50px;
      }
      a{
        text-align: center;
        height: 42px;
        line-height: 42px;
        background-color: $color;
        padding-top: 2px;
        display: inline-block;
        text-transform: uppercase;
        color: #FFF;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 4px;
        @include border-radius(20px);
        &:hover{
          color: #FFF;
        }
      }
    }
  }
}
section#slider-home.rent{
  background: url('../images/Buy_Hero_117895303_1024x500_2x.jpg') no-repeat;
}
section#slider-home.zestimate{
  background: url('../images/Sell_Hero_120987520_1024x500_2x.jpg') no-repeat;
}
section#slider-home.sell{
  background: url('../images/Zestimate_Hero_124544671_1024x500_2x.jpg') no-repeat;
}
/*end slier*/

/* List home */
#list-home{
  .block-page{
    padding: 0 8px;
    padding-right: 16px;
    width: 100%;
    float: left;
    margin-top: 30px;
    div.title{
      border-bottom: 2px solid $color;
      margin-right: 15px;
      h2{
        padding: 0;
        margin: 0;
        display: inline-block;
        border-bottom: 2px solid #dd0a0a;
        position: relative;
        margin-bottom: -2px;
        padding-bottom: 5px;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
  
}
.content-item{
  position: relative;
  width: 100%;
  float: left;
  ul{
    .owl-wrapper-outer{
      width: 1125px;
    }
    .owl-item{
      li{
        width: 100%;
      }
    }
  }
  margin-top: 15px;
  ul#list-home-news{
    li{
      .item{
        border: 1px solid #DDD;
       .name{
         padding-left: 5px;
         padding-right: 5px;
         .line{
           border-bottom: 1px solid #DDD;
           margin-bottom: 5px;
           padding-bottom: 5px;
         }
       }
       .info{
         padding-left: 5px;
         padding-right: 5px;
         display: inline-block;
         p{
           width: 50%;
           float: left;
           padding: 5px 0;
           span{
             color: #636363;
           }
         }
         p.price{
           text-align: center;
           var{
             font-size: 18px;
             color: red;
             font-weight: bold;
           }
         }
         p.acreage{
           text-align: center;
           span{
             color: #000;
             position: relative;
             top: -5px;
             font-size: 12px;
           }
         }
       }
     }
     &:hover{
      .item{
          border-color: $color;
        }
      }
    }
    .owl-controls{
      .owl-buttons{
        display: inline-block;
        position: absolute;
        right: 0;
        top: -46px;
        div{
          color: #000;
          padding: 0;
        }
      }
    }
    
  }
  
}