#step1{
  position: relative;
  margin-top: 15px;
  .content-step{
    position: relative;
    .content-step-1{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(134,188,36, 0.8);
      padding: 15px;
      h1{
        text-transform: uppercase;
        color: #FFF;
        font-size: 18px;
      }
      .form-control,
      input[type='text']{
        @include border-radius(0px);
        @include box-shadow(none);
        border: none;
        margin-bottom: 15px;
      }
      input.zip{
        width: 100px;
      }
      .btn{
        background: $color;
        color: #FFF;
        border-color: $color;
        text-transform: uppercase;
        padding: 6px 25px;
        &:active{
          @include box-shadow(none);
          outline: none;
        }
      }
    }
  }
}
.block-contruct{
  margin-bottom: 30px;
  h2{
    font-size: 24px;
    font-weight: bold;
    color: #636362;
    text-align: center;
    margin: 30px 0;
  }
  p{
    color: #636362;
    text-align: center;
    span{
      font-size: 80px;
      color: #009ee3;
    }
  }
}
#step_tab{
  margin: 30px 0;
  ul.tab-step-list{
    border-bottom: none;
    li{
      width: 100%;
      display: block;
      height: 50px;
      a{
        @include border-radius(0px);
        border: none;
        text-transform: uppercase;
        font-size: 16px;
        color: #a7a7a7;
        &:focus,
        &:active,
        &:hover{
          background: transparent;
        }
        span{
          width: 30px;
          height: 30px;
          @include border-radius(50%);
          background: #a7a7a7;
          display: inline-block;
          color: #FFF;
          text-align: center;
          line-height: 30px;
          margin-right: 15px;
        }
      }
    }
    li.active{
      a{
        font-weight: bold;
        color: $step-color;
        posistion: relative;
        span{
          background: $step-color;
        }
        &:before{
          position: absolute;
          content: " ";
          width: 30px;
          height: 30px;
          background: url('../images/border-step.png') right center no-repeat;
          right: -19px;
          top: 10px;
          z-index: 9;
        }
      }
    }
  }
  .tab-content{
    min-height: 500px;
    border: 1px solid $step-color;
  }
  .content-tab-step{
    padding: 30px;
    .form-group{
      margin-bottom: 30px;
      .btn,
      .form-control{
        @include border-radius(0px);
        height: 40px;
      }
    }
    .col-md-12,
    .col-md-6{
      padding-right: 15px;
      padding-left: 15px; 
    }
    .btn.btn-next{
      background: #79b829;
      border-color: #79b829;
      outline: none;
      text-transform: uppercase;
      &:focus,
      &:active{
        @include box-shadow(none);
      }
    }
  }
  .content-tab-step.step-2{
    .col-md-6{
      height: 95px; 
    }
  }
}
.step-category{
  .list-radio{
    input[type="radio"]{
     display:none;
    }
    input[type='radio'] + label{
      display:inline-block;
      background-repeat:no-repeat;
      cursor:pointer;
    }
    input[type='radio']:checked + label {
      &:before{
        background-position: 0 2px;
      }
    }
    label{
      position: relative;
      &:before{
        content: " ";
        height: 18px;
        width: 18px;
        display: inline-block;
        background-image:url('../images/radio.png');
        background-position: 0 -18px;
        top: 3px;
        position: relative;
        margin-right: 5px;
      }
    } 
    ul{
      li{
        width: 50%;
        display: inline-block;
        float: left;
      }
    }
  }
}
.content-tab-step.step-2.step-3{
  h2{
    text-transform: uppercase;
    color: $step-color;
    font-size: 16px;
    border-bottom: 2px solid $step-color;
    padding-bottom: 3px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .tax{
    .tax-date{
      height: 40px;
      line-height: 40px;
    }
  }
}
#step_tab{
  .content-tab-step.step-4{
    .uploads{
      height: 200px;
      background: #c6c3c3;
      border: 1px solid #8a8685;
      margin-top: 10px;
      p{
        text-align: center;
        margin-top: 85px;
      }
    }
    .form-group{
      textarea.form-control{
        height: 200px;
      }
    }
  }
}
.unit-features{
  padding-left: 30px;
  margin-bottom: 30px;
  h3{
    color: #27348a;
    font-size: 14px;
    border-bottom: 1px dotted #27348a;
    positon: relative;
    margin-bottom: 15px;
    span{
      background: #FFF;
      position: relative;
      top: 5px;
      padding-right: 2px;
    }
  }
  input[type="checkbox"]{
     display:none;
  }
  input[type='checkbox'] + label{
    display:inline-block;
    background-repeat:no-repeat;
    cursor:pointer;
  }
  input[type='checkbox']:checked + label {
    &:before{
      background-position: 0 -74px;
    }
  }
  label{
    position: relative;
    font-weight: normal;
    font-size: 12px;
    &:before{
      content: " ";
      height: 19px;
      width: 19px;
      display: inline-block;
      background-image:url('../images/radio.png');
      background-position: 0 -50px;
      top: 5px;
      position: relative;
      margin-right: 5px;
    }
  } 
}

