$color: #0074e4;
$background: #009ee3;
$background-menu: #dff1fd;
$hover : #302683;
$step-color: #86bc24;
// set font family
/*$font-family-default: 'merriweather', sans-serif !default;
$font-family-raleway : 'raleway', sans-serif !default;
// header background
$background: #030303 !default;
$background-bottom: #f19a0d !default;

// set font size
$font-size-base: 14px !default;
$font-size-small: 12px !default;
$font-size-large: 18px !default;
$font-size-h1:	36px;
$font-size-h2:	30px;
$font-size-h3:	24px;
$font-size-h4:	18px;
$font-size-h5:	$font-size-base;
$font-size-h6:	12px;

//color categories
$color-promotion: #1abc9c !default;
$color-promotion-after: #16a085 !default;
$color-copon: #e67e22 !default;
$color-copon-after: #d35400 !default;
$color-vehicle-technology: #34495d !default;
$color-fashion-health: #95c11e !default;
$color-real-estate-source: #302683 !default;
$color-home-electronics: #009bb4 !default;
$color-taste-event: #f39200 !default;
$color-seasons-promotion: #c51a1b !default;
$color-copon-magazine: #DC2732 !default;
$color-copon-magazine-after: #e30513 !default;

//color-common
$color-base: #e30513 !default;
$color-button: #2a255c !default;
$color-grey: #ececec !default;
$color-dark-grey: #575756 !default;
$color-bg-tab: #202d41 !default;
$color-hover-tab: #f6aa2d;
$color-address: #6f6f6e;
$color-title-categories: #6f6f6e;
$color-bg-categories: #f2f2f2;
$color-bg-footer: #202d41;
$color-hover: #f6aa2d;
$color-line-bottom: #3d495a;
$color-line-footer: #f6aa2d;
$color-text-footer: #b3bfcb;
$color-map: #469ad4;
*/
