footer#footer{
  border-top: 1px solid #DDD;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  h3{
    text-transform: uppercase;
    color: #213158;
    font-size: 14px;
    font-weight: bold;
  }
  .box-footer-shadow{
    height: 2px;
    border-radius: 50%;
    box-shadow: 0 10px 10px #989898;
    width: 75%;
    margin: -12px auto 0;
  }
  .list-item-footer{
    margin-top: 30px;
  }
  ul{
    li{
      a{
        color: #878786;
        &:hover{
          color: $hover;
        }
      }
    }
  }
  .box-address{
    p{
      color:#878786;
      line-height: 22px;
    }
    p.social{
      height: 30px;
      line-height: 30px;
      margin-bottom: 15px;
      margin-top: 15px;
      a{
        font-size: 24px;
        position: relative;
        top: 5px;
        margin-right: 10px;
      }
    }
    p.connect,p.social{
      color: #213158;
      font-weight: bold;
    }
    p.connect{
      height: 50px;
      span{
        display: inline-block;
        float: left;
        line-height: 50px;
      }
      a{
        font-size: 58px;
        position: relative;
        top: -5px;
      }
    }
  }
}
/* coppyright */
.coppyright{
  background: $background;
  padding: 15px 0;
  text-align: center;
  ul{
    display: inline-block;
    li{
      display: inline-block;
      padding: 0 15px;
      a{
        color: #FFF;
        &:hover{
          color: $hover;
        }
      }
    }
  }
  .vina-realtor{
    margin-top: 10px;
  }
}
/* end coppyright */