%btn{
	@include border-radius(4px);
	padding: 6px 12px;
	font-size:14px;
	text-decoration:none;
	display:inline-block;
	@include transition(all ease-out .3s);
}
.btn-base{
	@extend %btn;
	color:#fff;
	background-color:$color-button;
	&:hover{
		background-color:$color-base;
		color: #fff;
	}
}
.btn-user{
	@extend %btn;
	color:#fff;
	background-color:$color-base;
	&:hover{
		background-color:#000;
	}
}